{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="part-one-home">
		<img class="home-picture-research" src="https://img.freepik.com/photos-gratuite/famille-amis-ayant-pique-nique-barbecue_107420-15902.jpg?size=626&ext=jpg">
		<div class="text">
			<h1>Dégustations près de chez vous</h1>
		</div>
		<form class="search-home">
			<input class="write" type="text" name="text" class="search" placeholder="Recherchez ici!">
			<input class="recherche" type="submit" name="submit" class="submit" value="Search">
		</form>
	</div>

	<div class="container">
		<div class="intro-home-info">
			<div class="premier-logo-note col-md-2 col-lg-2">
				<div class="logo-star">
					<i class="fas fa-star"></i>
				</div>
				<div class="note-star">
					<p>
						4.8 de note moyenne
					</p>
				</div>
			</div>

			<div class="deuxieme-logo-frais col-md-2 col-lg-2">
				<div class="logo-validation">
					<i class="fas fa-check-circle"></i>
				</div>
				<div>
					<p>
						pas de frais de réservation
					</p>
				</div>
			</div>

			<div class="troisieme-logo-experiences col-md-2 col-lg-2">
				<div class="logo-experiences">
					<i class="fas fa-bolt"></i>
				</div>
				<div>
					<p>
						plus de 100 expériences enregistrées
					</p>
				</div>
			</div>

			<div class="quatrieme-logo-partenaire col-md-2 col-lg-2">
				<div class="logo-partenaires">
					<i class="fas fa-wine-glass-alt"></i>
				</div>
				<div>
					<p>
						partenaires officiel
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="trait-home-one"></div>
	<div class="container">
		<div class="visit-and-degust">
			<h1>
				Visitez et Dégustez</h1>
		</div>
	</div>

	<div class="container">
		<div class="six-link-degust">
			<div class="first-lign-degustation">

				<div class="card bg-dark text-white">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="{{ asset('build/images/vinvigne.jpg') }}" alt="Gastronomie"/></a>
					<div class="card-img-title">
						<h4 class="card-title">Gastronomie</h4>
					</div>
				</div>

				<div class="card bg-dark text-white">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="{{ asset('build/images/vinvigne.jpg') }}" class="card-img" alt="..."/></a>
					<div class="card-img-title">
						<h4 class="card-title">Brasserie</h4>
					</div>
				</div>
			</div>

			<div class="second-lign-degustation">
				<div class="card bg-dark text-white">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="{{ asset('build/images/vinvigne.jpg') }}" class="card-img" alt="..."/></a>
					<div class="card-img-title">
						<h4 class="card-title">vin et champagne</h4>
					</div>
				</div>

				<div class="card bg-dark text-white">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="{{ asset('build/images/vinvigne.jpg') }}" class="card-img" alt="..."/></a>
					<div class="card-img-title">
						<h4 class="card-title">Cidrerie</h4>
					</div>
				</div>
			</div>

			<div class="third-lign-degustation">
				<div class="card bg-dark text-white">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="{{ asset('build/images/vinvigne.jpg') }}" class="card-img" alt="..."/></a>
					<div class="card-img-title">
						<h4 class="card-title">Cognac et pineaux</h4>
					</div>
				</div>

				<div class="card bg-dark text-white">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="{{ asset('build/images/vinvigne.jpg') }}" class="card-img" alt="..."/></a>
					<div class="card-img-title">
						<h4 class="card-title">Spiritueux</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div
			class="logo-partenaires-degustations">

			{# <div class="container d-flex flex-wrap"> #}
			<div></div>
			<div>
				<img src="https://www.lesgrappes.com/media/winemaker_tmp/11082/champagneruinart.png" alt="" width="170px" height="120px">
			</div>
			<div>
				<img src="https://1000logos.net/wp-content/uploads/2021/05/Hennessy-logo.png" alt="" width="170px" height="120px">
			</div>
			<div>
				<img src="https://www.lechocolat-alainducasse.com/img/le-chocolat-alain-ducasse-logo-1446054370.jpg" alt="" width="170px" height="120px">
			</div>
			<div>
				<img src="https://www.produit-en-nouvelle-aquitaine.com/wp-content/uploads/2020/04/Logo-entreprise-Laguilhon.jpg" alt="" width="170px" height="120px">
			</div>
			<div>
				<img src="https://allvectorlogo.com/img/2016/03/moet-chandon-logo.png" alt="" width="170px" height="120px">
			</div>
			<div>
				<img src="https://p.ventesprivees-fr.com/pape-clement.png" alt="" width="170px" height="120px">
			</div>
			{# </div> #}
		</div>
	</div>

	<div class="block-for-infos">
		<div class="container">
			<div class="for-the-informations">
				<div class="picture-back-green ">
					<img class="vignes-picture-enjoy" src="https://www.pepinieres-travers.fr/4922-thickbox_default/vigne-vinifera-centennial-seedless.jpg" class="card-img" alt="...">
				</div>
				<div class="two-title-and-text">
					<div class="you-see-enjoy">
						<p>Vous voir heureux nous rend heureux</p>
					</div>
					<div class="text-enjoy">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolor aspernatur ad aut nesciunt iste a consequuntur deserunt! Velit minus neque harum iure odit voluptate quod. Dolore assumenda dignissimos sunt.</p>
					</div>
					<div class="button-enjoy">
						<button type="submit">en savoir plus *</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="actuality">
			<h1>
				A la une</h1>
		</div>
	</div>


	<div class="container">
		<div class="six-link-degust">

			<div class="first-lign-news-today">

				<div class="card number" style="border:none">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="https://media.wonderbox.com/media/catalog/product/cache/278/other/900x600aq70/21d0a261efacb651237a9ee1c8110064/A51031/1/0/1050273-11bicg8i4x-whr_429.jpg" alt="Gastronomie"/></a>
					<div class="for-card-infos">
						<div class="type-of-presta">
							<p class="rounded bg-success p-2 w-50 h-25 text-center">atelier d'oenologie</p>
						</div>
						<div class="presta-title">
							<h5>Ouverture des sens avec cet atelier oenologique</h5>
						</div>
						<div class="presta-price">
							<p>99 € -
							</p>
							<p>
								1h30</p>
						</div>
					</div>
				</div>


				<div class="card number" style="border:none">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="https://www.parisselectbook.com/en/wp-content/uploads/2016/11/2.jpg" class="card-img" alt="..."/></a>
					<div class="for-card-infos">
						<p>
							<span class="rounded p-2 bg-success w-50 h-25 text-center">Découverte</span>
							<span class="rounded p-2 bg-success w-50 h-25 text-center">Prestige</span>
						</p>
						<div class="presta-title">
							<h5>Visite à la découverte du château Pape Clément</h5>
						</div>
						<div class="presta-price">
							<p>209 € -
							</p>
							<p>
								2h</p>
						</div>
					</div>
				</div>
			</div>

			<div class="second-lign-news-today">
				<div class="card number" style="border:none">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="https://www.le-vignoble.fr/wp-content/uploads/2018/08/degust-poire-1024x684.jpg" class="card-img" alt="..."/></a>

					<div class="for-card-infos">
						<div class="type-of-presta">
							<p class="rounded p-2 bg-secondary w-50 h-25 text-center" style="color:white">Dégustation</p>
						</div>
						<div class="presta-title">
							<h5>Dégustation de cognac avec Hennessy</h5>
						</div>
						<div class="presta-price">
							<p>99 € -
							</p>
							<p>
								1h30
							</p>
						</div>
					</div>
				</div>
				<div class="card number" style="border:none">
					<a href="https://www.nasa.gov/moon" target="_blank"><img class="card-title-opacity" src="http://maliciaflore.com/wp-content/uploads/2013/11/Visuel-Montfort2-1024x682.jpg" class="card-img" alt="..."/></a>
					<div class="for-card-infos">
						<div class="type-of-presta">
							<p class="rounded p-2 bg-success w-50 h-25 text-center">Découverte</p>
						</div>
						<div class="presta-title">
							<h5>Découverte et dégustation de foie gras</h5>
						</div>
						<div class="presta-price">
							<p>99 € -
							</p>
							<p>
								1h30</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="container">
		<div class="next-experience">
		<h1>
			Quelle sera votre prochaine expérience ?
		</h1>
	</div>
		<div class="for-height-of-exper">
			<div class="your-next-exper">
				<div class="first-picture-left">
					<img class="activities-exper" src="https://images.sudouest.fr/2015/09/23/57eb989966a4bd7760c5e528/widescreen/1000x500/la-cueillette-des-raisins.jpg" alt="">
					<div class="title-experience">
					<p> Les activités</p>
					</div>
				</div>
				<div class="two-pictures-exper">
					<div class="first-right-picture">
						<img class="evasion-exper" src="https://c.pxhere.com/photos/f7/be/champagne_date_drink_glasses_romance_romantic_sparkling_wine_sun-951276.jpg!d" alt="">
					</div>
					<div class="second-right-picture">
						<img class="evenements-locaux-exper" src="https://www.agence-evenementielle-innovevents.fr/wp-content/uploads/2018/04/le-lieu-ideal-pour-vos-evenements-a-strasbourg-1-672x350.jpg" alt="">
					</div>
				</div>
			</div>
		</div>


		{# ceci est le travail à GG #}
		<h1>Welcome on your project 3</h1>
		<p class="homeTitle">
			Almost before we knew it, we had left the ground.
		</p>
		<i class="fas fa-address-book"></i>
		<p class="homeText">Almost before we knew it, we had left the ground.</p>
		<div class="last_div_what_new">
			<div class="container">
				<h2 class="title_what_new text-center  ">
					<strong>Quoi de neuf
					</strong>chez opendegust?</h2>
				<div class=" d-flex justify-content-around row">

					<div class="my-5 card col-sm-4 card-shadow" style="width: 18rem;">
						<img src="{{ asset('build/images/vinvigne.jpg') }}" class="card_img card-img-top" alt="image de vin">
						<div class="card-body">
							<h5 class="card-title">degustion de vin</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<div class="card-body d-flex justify-content-around">
							<p class="text-color-card card-link">03 juin 2022</p>
							<a href="#" class="text-color-card card-link">Découverte</a>
						</div>
					</div>

					<div class="my-5 card col-sm-4 card-shadow" style="width: 18rem;">
						<img src="{{ asset('build/images/vinvigne.jpg') }}" class="card_img card-img-top" alt="image de vin">
						<div class="card-body">
							<h5 class="card-title">degustion de vin</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<div class="card-body d-flex justify-content-around">
							<p class="text-color-card card-link">03 juin 2022</p>
							<a href="#" class="text-color-card card-link">Découverte</a>
						</div>
					</div>

					<div class="my-5 card col-sm-4 card-shadow" style="width: 18rem;">
						<img src="{{ asset('build/images/vinvigne.jpg') }}" class="card_img card-img-top" alt="image de vin">
						<div class="card-body">
							<h5 class="card-title">degustion de vin</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<div class="card-body d-flex justify-content-around">
							<p class="text-color-card card-link">03 juin 2022</p>
							<a href="#" class="text-color-card card-link">Découverte</a>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-around">
					<button type="submit" class="button-card btn">Voir tout les articles</button>
				</div>
			</div>
		</div>
	{% endblock %}
