{{ form_start(registrationForm, {'action': path('app_register_customer')}) }}
<input id="userRole" type="hidden" value="customer">
<div class="form-control shadow-sm">
    <div class="text-danger">
        {{ form_errors(registrationForm.email.first) }}
    </div>
    {{ form_label(registrationForm.email.first) }}
    {{ form_widget(registrationForm.email.first) }}
    <div class="text-danger">
        {{ form_errors(registrationForm.email.second) }}
    </div>
    {{ form_label(registrationForm.email.second) }}
    {{ form_widget(registrationForm.email.second) }}

    <div class="text-danger">
        {{ form_errors(registrationForm.password.first) }}
    </div>
    {{ form_label(registrationForm.password.first) }}
    {{ form_widget(registrationForm.password.first) }}
    <small class="text-muted">Au moins 6 caractères</small>
    <div class="text-danger">
        {{ form_errors(registrationForm.password.second) }}
    </div>
    {{ form_label(registrationForm.password.second) }}
    {{ form_widget(registrationForm.password.second) }}
    <div class="mt-2">
        {{ form_label(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.agreeTerms) }}
    </div>
</div>

<button type="submit" class="btn btn-primary mt-3 col-12 shadow-sm">S'inscrire</button>
{{ form_end(registrationForm) }}