{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    {{ form_label(form.name, "Nom de l'offre :") }}
    {{ form_widget(form.name) }}
    {{ form_label(form.domainName, "Nom du dommaine :") }}
    {{ form_widget(form.domainName) }}
    {{ form_label(form.language, "Langues parlées :") }}
    {{ form_label(form.language, "Déjà inscrit sur d'autres sites?") }}
        {% for lang in form.language %}
            {{ form_widget(lang, {'attr': {'class': 'form-control'}}) }}
        {% endfor %}

    {% from 'macros/categories.html.twig' import make_categories %}
    {{ make_categories(categories) }}
{{ dump(offer) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
