<div class="contact__content accordion-body">
    <div class="row g-3 d-md-flex justify-content-between">
{#        <ul class="offerVariations" data-prototype="{{ form_widget(formVariation.vars.prototype)|e('html_attr') }}">#}
{#            {% for variation in offer.offerVariations %}#}
        {{ form_row(formVariation) }}

{#                <li>#}
{#                    <div class="form-control mb-3">#}
{#                        <h3>Variation</h3>#}
{#                        <div class="row">#}
{#                            <div class="col-md-6">#}
{#                                <div>#}
{#                                    {{ form_label(variation.duration) }}#}
{#                                    {{ form_widget(variation.duration) }}#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-md-6">#}
{#                                        {{ form_label(variation.price) }}#}
{#                                        {{ form_widget(variation.price) }}#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        {{ form_label(variation.currentVat) }}#}
{#                                        {{ form_widget(variation.currentVat) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-12">#}
{#                                    {{ form_label(variation.capacity) }}#}
{#                                    {{ form_widget(variation.capacity) }}#}
{#                                </div>#}
{#                                <div>#}
{#                                    {{ form_widget(variation) }}#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-6">#}
        <button type="button" class="btn btn-primary btn-new" data-collection="#baz">New Bar</button>
        <div
                id="baz"
                class="row"
                data-prototype="{{ include("offer/_baz.html.twig", {form: formVariation.calendars.vars.prototype})|e("html_attr") }}"
                data-index="{{ form.calendars|length > 0 ? form.calendars|last.vars.name + 1 : 0 }}">
{#            <div id="conteneur">#}
{#                <div class="fils"> {{ render((controller('App\\Controller\\OfferController::addcalendar'))) }} </div>#}
{#            </div>#}
        </div>

{#        <button type="button" class="btn btn-primary btn-new" data-collection="#bars">New Bar</button>#}
{#        <div#}
{#                id="bars"#}
{#                class="row"#}
{#                data-prototype="{{ include("offer/_bar.html.twig", {form: formVariation.calendars.vars.prototype})|e("html_attr") }}"#}
{#                data-index="{{ form.offerVariations|length > 0 ? form.offerVariations|last.vars.name + 1 : 0 }}">#}
{#            <div id="conteneur">#}
{#                <div class="fils"> {{ render((controller('App\\Controller\\OfferController::addform'))) }} </div>#}
{#            </div>#}
{#        </div>#}
{#                                {% for calendar in formVariation.calendars %}#}
{#                                    <ul class="calendars" data-prototype="{{ form_widget(variation.calendars.vars.prototype)|e('html_attr') }}">#}
{#                                        {{ form_label(calendar.startAt) }}#}
{#                                        {{ form_widget(calendar.startAt) }}#}
{#                                    </ul>#}
{#                                {% endfor %}#}

{#                                <button type="button" class="add_item_link" data-collection-holder-class="calendars">New date#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <button type="button" class="add_item_link" data-collection-holder-class="calendars_{{ loop }}">New date#}
{#                </button>#}

{#            {% endfor %}#}

{#        </ul>#}


{#        <button type="button" class="add_item_link" data-collection-holder-class="btn-new calendars">New date#}
{#        </button>#}
{#        <button type="button" class="add_item_link" data-collection-holder-class="btn-new offerVariations">Add a#}
{#            variation#}
{#        </button>#}

    </div>
</div>

<script>
    const newItem = (e) => {
        const collectionHolder = document.querySelector(e.currentTarget.dataset.collection);

        const item = document.createElement("div");
        item.classList.add("col-6");
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );

        item.querySelector(".btn-remove").addEventListener("click", () => item.remove());

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
    };

    document
        .querySelectorAll('.btn-remove')
        .forEach(btn => btn.addEventListener("click", (e) => e.currentTarget.closest(".col-6").remove()));

    document
        .querySelectorAll('.btn-new')
        .forEach(btn => btn.addEventListener("click", newItem));
</script>
