{% extends 'base.html.twig' %}

{% block title %}Offer index
{% endblock %}

{% block body %}
	<div id="liste-des-prod">
		<h2>Liste de mes offres</h2>
	</div>
	<div class="responsive-table-list">
		<table class="table table-bordered table-condensed table-body-center">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Durées</th>
					<th class="text-center">Dates</th>
					<th class="text-center">Nbr de places</th>
					<th class="text-center">Places réservés</th>
					<th class="text-center">Action</th>
			</thead>
			<tbody>
			{% for key, offer in offers %}
				<tr>
					<td class="text-center" rowspan="{{ (allOffers[key])|length }}">
						{{ offer.name }}
					</td>
					{% for key2, variation in offer.offerVariations %}
						<td class="text-center" rowspan="{{ (allDuree[key][key2])|length }}">
							{{ variation.duration|date('h:m') }}
						</td>
						{% for date in variation.calendars %}
							<td class="text-center">
								{{ date.startAt|date('d M Y - h:m') }}
							</td>
							<td class="text-center">
								{{ variation.capacity }} places
							</td>
							<td class="text-center">
								{{ variation.availablePlaces|default('0') }} places
							</td>
							<td class="text-center">
								<a href="{{ path('offer_edit', {'id': offer.id}) }}">Détail</a>
							</td>
				</tr>
						{% endfor %}
					{% endfor %}
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class = "d-flex justify-content-center">
		<a class="btn btn-success m-3" href="{{ path('offer_new') }}">Créer une nouvelle Offre</a>
		</div>
	</div>
{% endblock %}


