{% extends 'base.html.twig' %}

{% block title %}Offer{% endblock %}

{% block body %}
    <h1>Offer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ offer.name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ offer.picture }}" alt="{{ offer.name }}"></td>
            </tr>
            <tr>
                <th>DomainName</th>
                <td>{{ offer.domainName }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>
                {% for value in offer.language %}
                    {{ value }}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Short Description</th>
                <td>
                    {{ offer.description.shortDescription }}
                </td>
            </tr>
            <tr>
                <th>Long Description</th>
                <td>
                    {{ offer.description.longDescription }}
                </td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    {% for value in offer.categories %}
                        {{ value.name }}
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Contact address</th>
                <td>
                    {{ offer.contact.address }}
                </td>
            </tr>
            <tr>
                <th>Contact zip</th>
                <td>
                    {{ offer.contact.zipCode }}
                </td>
            </tr>
            <tr>
                <th>Contact address</th>
                <td>
                    {{ offer.contact.city }}
                </td>
            </tr>
            <tr>
                <th>Contact phone 1</th>
                <td>
                    {{ offer.contact.phone }}
                </td>
            </tr>
            <tr>
                <th>Contact phone 2</th>
                <td>
                    {{ offer.contact.phone }}
                </td>
            </tr>
            <tr>
                <th>Contact site</th>
                <td>
                    {{ offer.contact.website }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offer_index') }}">back to list</a>

    <a href="{{ path('offer_edit', {'id': offer.id}) }}">edit</a>

    {{ include('offer/_delete_form.html.twig') }}
{% endblock %}
