{% extends 'base.html.twig' %}

{% block title %}Offer index
{% endblock %}

{% block body %}
	<div id="liste-des-prod">
		<h2>Liste des Producteurs</h2>
	</div>
	<div class="responsive-table-list">
		<table class="table table-bordered table-condensed table-body-center">
			<thead>
				<tr>
					<th>Nom/Prénom</th>
					<th>Entreprise</th>
					<th>Email</th>
					<th style="text-align:center">Voir la fiche</th>
					<th style="text-align:center">Valider</th>
				</tr>
			</thead>
			<tbody>
				{% for provider in providers %}
					<tr>
						<td data-title="Nom/Prénom"> {{ provider.lastname }}{{ provider.firstname }} </td>
						<td data-title="Entreprise" style="font-size: 14px"> {{ provider.company }} </td>
						<td data-title="Email">
							<a href="mailto:{{ provider.email }}" style="font-size: 12px">{{ provider.email }}</a>
						</td>
						<td data-title="Action" style="font-size: 14px; text-align:center">
							<a href="{{ path('provider_show', {'id': provider.id}) }}">Voir</a>
						</td>
						<td data-title="Action" style="font-size: 14px; text-align:center">
							{% if (provider.status == 0) %}
								<input id="{{ provider.id }}" class="check" type="checkbox" name="valider_{{ provider.id }}">
							{% elseif (provider.status == 1) %}
								<input id="{{ provider.id }}" class="check" type="checkbox" name="valider_{{ provider.id }}" checked>
							{% else %}
								Compte supprimé
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas de providers inscrit</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', () => {

			const selector = document.querySelectorAll('.check');
			selector.forEach((element) => {
					element.addEventListener('click', (event) => {
						const providerId = event.target.getAttribute('id');
						fetch(`/admin/validate/${providerId}`)
							.then()
					})
			})
		});
	</script>

{% endblock %}
