{% extends 'base.html.twig' %}

{% block title %}Liste de mes produits{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3 text-center">Mes Produits</h1>
        <a href="{{ path('product_new') }}">Ajouter un nouveau produit</a>
        <div class="row row-cols-1 row-cols-md-5 g-5">

                {% for product in products %}
                    {% if is_granted("ROLE_ADMIN") or product.provider == app.user %}
                <div class="col d-flex mb-4" >
                    <div class="card">
                        <img class="card-img-top" src="{{ product.picture }}" alt="{{ product.name }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center">{{ product.name }}</h5>
                            <p class="card-text fs-6 fw-light lh-1">{{ product.description }}</p>
                            <a class="button-card mt-auto text-center" href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_PROVIDER") %}
                <div class="col d-flex mb-4" >
                    <div class="card">
                        <i class="fas fa-plus-circle text-center m-5" style="font-size: xxx-large"></i>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center">Nouveau produit</h5>
                            <p class="card-text fs-6 fw-light lh-1">Description rapide du produit.</p>
                            <a class="button-card mt-auto text-center" href="{{ path('product_new') }}">Ajouter</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
