{% extends 'base.html.twig' %}

{% block title %}Liste de mes produits{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-column">
        <h1 class="my-3">Mes Produits</h1>
        <a href="{{ path('product_new') }}">Ajouter un nouveau produit</a>
        <div class="row row-cols-1 row-cols-md-4 g-4" style="margin:1rem;">
        {% for product in products %}
            {% if is_granted("ROLE_ADMIN") or product.provider == app.user %}
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="{{ product.picture }}" alt="{{ product.name }}">
                        <div class="card-body" style="display:flex; flex-direction: column">
                            <h5 class="card-title" style="text-align:center">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <a class="button-card" style="text-align:center" href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                        </div>
                    </div>
                </div>
                {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
