<div class="col-mb-6 col-lg-3 offer d-flex m-2" >
    <div class="card card-label-price">
        <div class="">
        {% if product.picture starts with 'http' %}
            <img class="card-img-top products-image img-fluid" src="{{ product.picture }}" alt="{{ product.name }}">
        {% else %}
            <picture class="">
                <source srcset="{{ asset('uploads/' ~ product.picture)|imagine_filter('product_thumb_product_sm')  }}" media="(max-width: 992px)">
                <source srcset="{{ asset('uploads/' ~ product.picture)|imagine_filter('product_thumb_product_lg')  }}" media="(min-width: 992px)">
                <img class="card-img-top img-fluid products-image" src="{{ asset('uploads/' ~ product.picture) }}" alt="{{ product.name }} poster">
            </picture>
        {% endif %}
        </div>
        <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">{{ product.name }}</h5>
            <p class="card-text fs-6 fw-light lh-1">{{ product.description }}</p>
            {% if is_granted("ROLE_ADMIN") or product.provider == app.user %}
            <a class="button-card mt-auto text-center" href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
            {% endif %}
        </div>
        <div class="label-price">
            <span>{{ product.price }}€</span>
        </div>
    </div>
</div>


