<div class="overflow-auto">
    <div class="container" data-loclat="{{ localization.0.lat|default("46.16") }}" data-loclon="{{ localization.0.lon|default("3.19619") }}" data-zoom="{{ localization.0.lat|default("5") }}" data-text="">
        <div class="row" >
            {% for offer in offers %}
                <div class="mb-3 col-sm-6">
                    <div class="card cardHover h-100">
                        <div class=" h-100 row g-0">
                            <div class=" col-lg-5">
                                <picture>
                                    <source srcset="{{ asset("uploads/" ~ "testsearch.jpg")|imagine_filter("offer_thumb_sm") }}"
                                            media="(max-width: 576px)">
                                    <source srcset="{{ asset("uploads/" ~ "testsearch.jpg")|imagine_filter("offer_thumb_lg") }}"
                                            media="(max-width: 992px)">
                                    <source srcset="{{ asset("uploads/" ~ "testsearch.jpg")|imagine_filter("offer_thumb_xl") }}"
                                            media="(max-width: 1200px)">
                                    <source srcset="{{ asset("uploads/" ~ "testsearch.jpg")|imagine_filter("offer_thumb_xml") }}"
                                            media="(max-width: 1400px)">
                                    <source srcset="{{ asset("uploads/" ~ "testsearch.jpg")|imagine_filter("offer_thumb_xxl") }}"
                                            media="(min-width: 1400px)">
                                    <img class="img-fluid"
                                         src="{{ asset("uploads/" ~ "testsearch.jpg")|imagine_filter("offer_thumb_default") }}"
                                         alt="offer image">
                                </picture>
                            </div>
                            <div class="col-md-12 col-lg-7">
                                <div class="h-100 card-body">
                                    <div class="d-flex">
                                        {% for category in offer.categories %}
                                            <p class="d-flex justify-content-around align-items-center rounded p-1 bg-secondary categoryOffer text-center" style="font-size:0.7rem">{{ category.name }}</p>
                                        {% endfor %}
                                    </div>
                                    <h5 class="card-title text-center">{{ offer.name }}</h5>
                                    <p class="card-text card-text-color">{{ offer.description.shortDescription }}
                                    </p>
                                    <a data-lat="{{ offer.contact.latitude }}"
                                       data-long="{{ offer.contact.longitude }}"
                                       data-name="{{ offer.domainName }}"
                                       data-id="{{ offer.id }}"
                                       href="#">
                                        localiser sur la carte</a>
                                    <!-- Button trigger modal -->
                                    {% set lowest_price = 10000 %}
                                    {% for offer_variation in offer.offerVariations %}
                                        {% if offer_variation.price < lowest_price %}
                                            {% set lowest_price = offer_variation.price %}
                                        {% endif %}
                                    {% endfor %}
                                    <p class="mt-auto"> A partir de <b>{{ lowest_price }}€. </b><a type="button"
                                                                                                   class="borderHover"
                                                                                                   data-bs-toggle="modal"
                                                                                                   data-bs-target="#modalDetail_{{ offer.id }}">
                                            (Détail)</a>
                                    </p>
                                    <a href="{{ path('offer_show', {'id': offer.id}) }}"
                                       class="btnOffer btn btn-primary">réserver <i
                                                class="fas fa-shopping-cart"></i></a>
                                    <p class="card-text"><small class="text-muted"></small></p>
                                    {% if app.user and is_granted('ROLE_CUSTOMER') %}
                                        <a href="{{ path('search_favory', {id: offer.id}) }}">
                                            <i class="bi {{ app.user.isInFavory(offer) ? 'fas fa-star' : 'far fa-star' }}"></i>
                                        </a>
                                    {% endif %}
                                </div>


                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="modalDetail_{{ offer.id }}" tabindex="-1"
                             aria-labelledby="ModalLabel_{{ offer.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabel_{{ offer.id }}">{{ offer.name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Fermer"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Grille des tarifs</h6>
                                        <ul>

                                            {% for offer_variation in offer.offerVariations %}
                                                <li class="d-flex justify-content-between">
                                                    <span><b>Tarif {{ loop.index }}:</b> </span>
                                                    <span><i class="far fa-clock"></i> <b>{{ offer_variation.duration|date("h:i") }}</b></span>
                                                    <span><i class="fas fa-users"></i>{% if offer_variation.booking.totalPlaces is defined %}
                                                        {% if offer_variation.capacity - offer_variation.booking.totalPlaces == 1 %}
                                                            <span class="text-warning"> <b>{{ offer_variation.capacity - offer_variation.booking.totalPlaces }}</b> place restante</span>
                                            {% elseif offer_variation.capacity - offer_variation.booking.totalPlaces == 0 %}
                                                            <b>  <span class="text-danger">full</span></b>
                                            {% else %}
                                                            <b>{{ offer_variation.capacity - offer_variation.booking.totalPlaces }} </b>  places restantes
                                                        {% endif %}
                                                        {% else %}
                                <b>{{ offer_variation.capacity }}</b> places restantes </span>
                                                    {% endif %}
                                                </li>
                                                <li class="d-flex justify-content-end">
                                                    {% for key, price_dif in offer_variation.priceVariation %}
                                                        <span class="ps-5"><i
                                                                    class="fas fa-ticket-alt"></i>   {{ key }}: <b>{{ price_dif }}</b>€  </span>
                                                    {% endfor %}
                                                </li>
                                                <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('offer_show', {'id': offer.id}) }}"
                                           class="btnOffer btn btn-primary">réserver <i
                                                    class="fas fa-shopping-cart"></i></a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
