<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a href="{{ path("home") }}"> <img src="{{ asset('build/images/logo.png') }}" class="px-2 img-navbrand img-fluid min-vh-75" alt="logo open degust"></a>
    <div>
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_PROVIDER') %}
                <a href="{{ path("provider_edit", {id: app.user.id}) }}" class="btn btn-outline-primary me-3">Mon Compte</a>
            {% elseif is_granted('ROLE_CUSTOMER') %}
                <a href="{{ path("customer_edit", {id: app.user.id}) }}" class="btn btn-outline-primary me-3">Mon Compte</a>
            {% endif %}
            <a href="{{ path("app_logout") }}" class="btn btn-outline-primary me-3">Se Déconnecter</a>
        {% else %}
            <a href="{{ path("app_register_customer") }}" class="btn btn-outline-primary me-3">S'inscrire</a>
            <a href="{{ path("app_login") }}" class="btn btn-outline-primary me-3">Se Connecter</a>
        {% endif %}
    </div>
</nav>
