{% extends 'base.html.twig' %}

{% block title %}Provider
{% endblock %}

{% block body %}
	<div class="color-body-for-provider">
		<h2 class="text-center">{{ provider.firstname }}
			{{ provider.lastname }}</h2>
		{% if provider.picture %}
			<div class="container text-center">
				<img class="profil-picture w-50" src="{{ provider.picture }}" alt="">
			</div>
		{% endif %}
		{% if provider.description.longDescription %}
			<div class="bio-provider">
				<h3>Biographie</h3>
				<p>{{ provider.description.longDescription }}</p>
			</div>
		{% endif %}


		<div class="accordion accordion-flush-contact" id="accordionFlushExample">
			<div class="accordion-item company-contact">
				<h2 class="accordion-header" id="flush-headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="font-size: 1.5rem">
						A Propos
					</button>
				</h2>
				<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<div class="row">
							<div class="col-12 col-sm-6">
								{% if provider.company %}
									<div>
										<h5>Nom de l'entreprise</h5>
										<p>{{ provider.company }}</p>
									</div>
								{% endif %}
								{% if provider.socialReason %}
									<div>
										<h5>Type</h5>
										<p>{{ provider.socialReason }}</p>
									</div>
								{% endif %}
								<div>
									<h5>
										{% if provider.status == 0 %}
											Compte en attente de vérification
										{% else %}
											Compte vérifié
										{% endif %}
									</h5>
									{# <p>{{ provider.isVerified }}</p> #}
								</div>
								{% if provider.monthlyFrequentation %}
									<div>
										<h5>Fréquentation</h5>
										<p>{{ provider.monthlyFrequentation }}</p>
									</div>
								{% endif %}
							</div>

							<div class="col-12 col-sm-6">
								{% if provider.siret %}
									<div>
										<h5>N° SIRET</h5>
										<p>{{ provider.siret }}</p>
									</div>
								{% endif %}
								{% if provider.vatNumber %}
									<div>
										<h5>N° TVA</h5>
										<p>{{ provider.vatNumber }}</p>
									</div>
								{% endif %}
								{% if provider.otherSite %}
									<div>
										<h5>Autres Sites</h5>
										{% for provider_site in provider.otherSite %}
											<p>
												<a href="{{ provider_site }}">{{ provider_site }}</a>
											</p>
										{% endfor %}
									</div>
								{% endif %}
								{% if is_granted("ROLE_ADMIN") %}
									<div>
										<h5>Comment avez-vous connu ce site ?</h5>
										{% if provider.knowUs == 'Publicité' %}
											Publicité
										{% elseif provider.knowUs == 'Autre' %}
											Autre
										{% elseif provider.knowUs == 'Bouche à oreille' %}
											Bouche à oreille
										{% elseif provider.knowUs == 'Internet' %}
											Internet
											{# <p>{{ provider.knowUs ? provider.knowUs|json_encode : '' }}</p> #}
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>


				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="font-size: 1.5rem">
							Contact
						</button>
					</h2>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<div class="row">
								<div class="col-12 col-sm-6">
									<div>
										<h5>Email</h5>
										<a href="mailto:">
											<p>{{ provider.email }}</p>
										</a>
									</div>
									{% if provider.contact.phone %}
										<div>
											<h5>Numéro de Téléphone</h5>
											<p>{{ provider.contact.phone }}</p>
										</div>
									{% endif %}
									{% if provider.contact.phone2 %}
										<div>
											<h5>Numéro Portable</h5>
											<p>{{ provider.contact.phone2 }}</p>
										</div>
									{% endif %}
								</div>
								<div class="col-12 col-sm-6">
									{% if provider.contact.city %}
										<div>
											<h5>Ville</h5>
											<p>{{ provider.contact.city }}</p>
										</div>
									{% endif %}
									{% if provider.contact.zipCode %}
										<div>
											<h5>Code Postal</h5>
											<p>{{ provider.contact.zipCode }}</p>
										</div>
									{% endif %}
									{% if provider.contact.website %}
										<div>
											<h5>Site web</h5>
											<p>{{ provider.contact.website }}</p>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if products %}
			<div class="container-fluid">
				<div class="list-offer-by-provider">
					<h1 class="my-3 text-center">Nos Produits</h1>
					<div class="row row-cols-1 row-cols-md-5 g-5" style="justify-content:center">
						{% for product in products %}
							{% include "product/products.html.twig" %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{% if offers %}
		<div class="container-fluid">
			<div class="list-offer-by-provider">
				<h1 class="my-3 text-center">Nos Offres</h1>
				<div class="row row-cols-1 row-cols-md-5 g-5" id="provider-offer-card">
					{% for offer in offers %}
						<a style="text-decoration:none" href="{{ path('offer_show', {'id': offer.id}) }}">{% include "offer/offers.html.twig" %}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="container-fluid pt-3 pb-3 d-flex">
		<div class="w-50 p-2">
			<a class="btn btn-primary" href="{{ path('provider_index') }}">
				Retournez à la liste des Producteurs</a>
		</div>
	</div>
{% endblock %}
